@import "modules/reset";
@import "modules/variables";
@import "modules/grid";
@import "modules/layout";
@import "modules/utilities";

.heading {
  margin: 1em auto;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;

  h1 + .lead {
    margin-top: 0.2em;
  }
}

.content {
  min-height: 300px;
}

.option {
  margin: 1em auto;
  h5 {
    margin-bottom: 1em;
  }

  .radio-group  {
    label {
      display: block;
    }  
    input[type="radio"] {
      display: inline-block;
      margin: 3px 5px;
    }
  }
}


.form-style-1 {
	max-width: 400px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=password], 
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=password]:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	margin: 1em 0px 0px 0px;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

